[user]
	name = Pratik Anurag
[core]
	excludesfile = ~/.config/git/ignore
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rerere]
	enabled = true
